:root{
    --primary-color: plum;
    --secondary-color: purple;
    --light-color: white;
    --dark-color: black;
    --special-color: tomato;
}

/* . is class name selector */
.container {
margin: 0 auto;
max-width: 900px;
}

/* space is descendent combinator */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    flex: 1;
}

/* LoVe HAte */
nav li a, 
nav li a:link,
nav li a:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: transform .5s;
}

nav li a:hover,
nav li a:focus{
    text-decoration: underline;
    transform: scale (1.25);
}

nav li a:active{
    transform: scale (1.25) translateX(15px);
}
/* :link, :visited, :hover, :focus, :active are pseudo classes */

/* [] is for attribute selector */
a[href="#"]{
    border: 1px solid plum;
}
/* ^= is for start with */
a[href^="http"]{
    border-left: 8px solid purple;
}

/* > is child combinator */
main > p{
    font-size: 1.25rem;
}

/* + is adjacent selector */
h2 + p{
    background-color: black;
    color: white;
    padding: 1rem;
}

.stars span{
    cursor: pointer;
    transition: opacity .5s;
}

/* is sibling combinator */
.stars span:hover~span{
    opacity: .4;
}
/* $= is for value ends with */
a[href$=".pdf"]{
    color: tomato;
}
a[href$=".pdf"]::after{
    content: "\2193";
    font-weight: bold;
    font-size: 1.25rem;
}

h2+p::first-line{
    color: plum;
}

/* .ratings p::first-letter{} */
h3+p::first-letter{
    background-color: purple;
    color: plum;
    padding: .25rem;
    margin-right: .10rem;
}